@use "../helpers/variables" as *;

#canvasContainer {
  grid-area: c1;
  width: min-content;
  z-index: 2;
  @media screen and (max-width: 1000px) {
    width: fit-content;
  }
  #og_img {
    display: none;
    width: 760px !important;
    height: 490px !important;
    margin-top: 2dvh;
    border: solid 8px $color_brown_light;
    margin-left: 1dvw;
    align-self: start;
    justify-self: center;
    @media screen and (max-width: 1650px) {
      width: 680px !important;
      height: 466px !important;
      margin-left: 0;
      margin-right: 2vw;
    }
    @media screen and (max-width: 1450px) {
      width: 630px !important;
      height: 390px !important;
      margin-right: 4vw;
    }
    @media screen and (max-width: 1250px) {
      width: 550px !important;
      height: 360px !important;
      margin-right: 5vw;
    }
    @media screen and (max-width: 1000px) {
      display: none;
      width: 100% !important;
      height: 200px !important;
      position: relative;
    }
    @media screen and (max-width: 800px) {
      display: none;
      width: 100% !important;
      height: auto !important;
      position: relative;
      margin: auto;
      border: none;
    }
  }

  .p5Canvas {
    display: block;
    width: 760px !important;
    height: 490px !important;
    margin-top: 2dvh;
    border: solid 8px $color_brown_light;
    margin-left: 1dvw;
    align-self: start;
    justify-self: center;

    @media screen and (max-width: 1650px) {
      width: 680px !important;
      height: 466px !important;
      margin-left: 0;
      margin-right: 2vw;
    }
    @media screen and (max-width: 1450px) {
      width: 630px !important;
      height: 390px !important;
      margin-right: 4vw;
    }
    @media screen and (max-width: 1250px) {
      width: 550px !important;
      height: 360px !important;
      margin-right: 5vw;
    }

    @media screen and (max-width: 1000px) {
      display: block;
      width: 100% !important;
      position: relative;
    }
    @media screen and (max-width: 800px) {
      height: auto !important;
      margin: auto;
      border: none;
    }
  }
}
