@use "../helpers/variables" as *;

#gallery {
  grid-area: g1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: $spacing-large;
  width: 55dvw;
  margin-top: 2dvh;
  img {
    width: 100%;
    height: 220px;
    background-color: $color_brown_dark;
  }
}
