@use "../helpers/variables" as *;
#nav {
  display: grid;
  grid-area: nav;
  line-height: 1;
  align-self: start;
  justify-self: start;
  position: relative;
  left: 3dvw;
  bottom: 5dvh;
  transition: color 0.2s ease;
  a {
    text-decoration: none;
    font-size: $font-small * 0.9;
    padding: $spacing-small * 0.5;
    color: $color_black;
  }
  a:hover {
    color: $color_brown_light;
  }
}

@media screen and (max-width: 1000px) {
  #nav {
    display: none;
  }
}
